<main>
  <h1>{{title}}</h1>
  <a href="https://github.com/ntazelaar/angular16-playground" target="_blank">GitHub Repo</a>
  <div>
    <h2>Number Demo</h2>
    <button (click)="onIncrementClick()">Increment value</button>
    <button (click)="onSetNumberClick()">Set random value</button>
    <p>Value: {{numberTest()}}</p>
  </div>
  <div>
    <h2>Array Demo</h2>
    <button (click)="onMutateClick()">Mutate Array</button>
    <p>Value: {{arrayAsString()}}</p>
  </div>
  <hr>
  <div>
    <h3>Events</h3>
    <ul>
      <li *ngFor="let item of logItems()">{{item}}</li>
    </ul>
  </div>
</main>
